html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.jumbotron{
	background-color: #f15b31;
	margin: 10px;
}

nav{
	background-color: #00A6B3;
}

.nav-pills .nav-link.active{
	background-color: #047E87;
}

.navbar{
	padding: 31px;
}

.navbar-fixed-top{
	justify-content: space-around;
}

h1 {
	font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    font-size: 45px;
}

a{
	font-family: "Raleway", sans-serif;
    font-weight: 60;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover{
	color: white;
	text-decoration: none;	
	border-color: white;
}

p {
	font-family: "Droid Serif", sans-serif;
	line-height: 4.5vw;
	font-size: 3vw;
	margin: 10px;
}

footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: Raleway;
	margin-top: 20px;
}

.btn-primary{
	background-color: #00A6B3;
	border-color: #00A6B3;
	margin: 5px;
}

.score{
	font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: black;
}

img{
	max-width: 200px;
	width: 40vw;
}

.name{
	color: #f15b31;
	font-weight: 700;
}

.footer{
	flex: 1 0 auto;
}